*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
   /* color:wheat; */
    
}
html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #111;
}
.parent{
    min-height: 100vh;
    padding: 20px ;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    background-color: white;
    width: 330px;
    height: 280px;
    border-radius: 30px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px; 
}  
.card .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #dadada;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 2px;
}
.top button{
    display: flex;
    align-items: centre;
    border: 1px solid #dadada;
    padding: 3px 6px;
    font-size:10px;
    border-radius: 5px;
    gap: 3px;
    background-color: transparent;
    color: #b1b1b1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.centre h3{
    font-size: 17px;
    font-weight: 400;
}
.centre h3 span{
    font-size: 9px;
    font-weight: 400;
    color: #8b8b8b;

}
.centre h2{
    font-size: 20px;
}
.centre .tag{
    display: flex;
    margin-top: 10px;
    gap: 5px;
}
.centre .tag h4{
    font-size: 14px;
    background-color: #dadada;
    color: #111;
    font-weight: 400;
    padding: 3px 6px;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: #b1b1b1;
    padding: 15px ;
}
.bottom button{
    background-color: black;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.bottom h3{
    font-size: 17px;

}
.bottom p{
    font-size: 12px;
    color: #8b8b8b;
}


